@charset "UTF-8";
* {
  font-family: "Microsoft JhengHei UI", 微軟正黑體, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 3% 60px;
}

.container > div {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 3%;
}

p, ul {
  font-size: 1rem;
  color: #222;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.title_yellow {
  color: #feff00;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.5em;
}

.point {
  color: #2a95af;
  font-size: 1.5rem;
  font-weight: bold;
}

.fault {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2a95af;
}

.del {
  text-decoration: line-through;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
}

.title {
  font-size: 1.875rem;
  padding-top: 35px;
  margin-bottom: 15px;
  line-height: 1.5em;
}

.title::before {
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 1.5em;
  position: relative;
  top: 0.4em;
  margin-right: 0.4em;
}

h1 {
  text-align: center;
  font-size: 1.875rem;
  color: #0d86a3;
  padding-top: 35px;
}

.teacher h3 {
  font-size: 1.875rem;
  line-height: 1.5em;
  margin-top: 30px;
}

h4 {
  font-size: 1.625rem;
  font-weight: bold;
  color: #222;
  padding: 0.5em 0;
}

.students ul li {
  font-size: 1.625rem;
  font-weight: bold;
  color: #FFF;
  margin-top: 25px;
}

.students ul li p {
  font-size: 1.125rem;
  color: #FFF;
  font-weight: normal;
  margin-top: 15px;
}

#contact .img p {
  font-size: 1.625rem;
  color: #2cbcc5;
  font-weight: bold;
  text-shadow: 0 0 8px #feff00;
  line-height: 1em;
}

/*RWD文字縮小==================================*/
@media (max-width: 480px) {
  p, ul {
    font-size: 0.875rem;
  }
  .title_yellow {
    font-size: 1.875rem;
  }
  .point {
    font-size: 1.25rem;
  }
  .fault {
    font-size: 1.25rem;
  }
  .title {
    font-size: 1.575rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .teacher h3 {
    font-size: 1.675rem;
  }
  h4 {
    font-size: 1.425rem;
  }
  .students ul li {
    font-size: 1.25rem;
    margin-top: 25px;
  }
  .students ul li p {
    font-size: 0.875rem;
  }
  #contact .img p {
    font-size: 1.5rem;
  }
}

.topbar {
  height: 50px;
  float: right;
}

#logo {
  height: 50px;
  margin-left: 1%;
}

.topbar li {
  list-style: none;
  display: inline-block;
}

.topbar li a {
  padding: 25px;
  text-decoration: none;
  color: #666666;
  line-height: 50px;
  font-size: 18px;
}

@media (max-width: 920px) {
  .topbar {
    display: none;
  }
}

/*-----馬上開課標誌------------------------------*/
nav > a {
  display: block;
  width: 120px;
  height: 100px;
  border-radius: 50%;
  background-color: #FEFF00;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  line-height: 1.3em;
  padding-top: 20px;
  z-index: 999;
  opacity: 0;
  position: fixed;
  bottom: 2%;
  right: 2%;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

nav > a::after {
  content: url(../images/icon_pointer.svg);
  display: block;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  position: absolute;
  right: 3px;
  bottom: 3px;
}

nav > a:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.fixed {
  opacity: 1;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  -webkit-animation: signAni 8s infinite;
          animation: signAni 8s infinite;
}

@-webkit-keyframes signAni {
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes signAni {
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*header banner (桌機版型)=======================*/
header {
  background-image: url(../images/banner_bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #2cbcc5;
  width: 100%;
  height: 690px;
  margin: auto;
  overflow: hidden;
}

/*-----標題字的底色塊----------------------------*/
#bannerTitle {
  max-width: 655px;
  height: 350px;
  background-color: rgba(30, 137, 144, 0.5);
  margin: 120px auto 0;
  text-align: center;
  position: relative;
  z-index: 0;
  padding-top: 1px;
}

/*-----老師圖片，要在色塊上方、標題文字下方--------*/
#bannerTitle::before {
  content: "";
  background-image: url(../images/banner_teacher.png);
  background-repeat: no-repeat;
  display: block;
  width: 655px;
  height: 600px;
  position: absolute;
  top: -20px;
  left: 502px;
  z-index: -1;
}

/*-----老師名字---------------------------------*/
.teacherName {
  max-width: 1110px;
  margin: 65px auto 0;
  padding: 0 20px;
  text-align: right;
  position: relative;
}

.teacherName > p {
  color: #FFF;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.15em;
}

.teacherName > p:first-of-type {
  font-size: 20px;
  padding-right: 52px;
}

/*-----副標題文字: 工作效率UP...-----------------*/
#bannerTitle > p {
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  max-width: 475px;
  margin: auto;
  position: relative;
  margin-top: 5.5%;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  padding: 8px 0;
}

/*-----大標題圖片: 掌握Excel...-----------------*/
/*-----標題的裝飾箭頭---------------------------*/
#bannerTitle::after {
  content: "";
  padding: 0;
  background-image: url(../images/banner_arrow.png);
  background-repeat: no-repeat;
  display: block;
  width: 188px;
  height: 160px;
  position: relative;
  top: -95px;
  left: 446px;
  -webkit-animation: Ani1 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: Ani1 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes Ani1 {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  50% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}

@keyframes Ani1 {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  50% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
}

/*header banner 平板(橫)版型--換背景圖、老師照片及名字縮小一點==========*/
@media (max-width: 1000px) {
  header {
    background-image: url(../images/banner_bgt.jpg);
    background-size: 100% auto;
    height: 0;
    padding-bottom: 85%;
  }
  #bannerTitle {
    margin-top: 11.5%;
  }
  #bannerTitle::before {
    top: 240px;
    left: 425px;
    width: 430px;
    background-size: contain;
  }
  .teacherName {
    margin-top: 26%;
    padding-right: 7%;
  }
  .teacherName > p:first-of-type {
    font-size: 17px;
    padding-right: 45px;
  }
  .teacherName > p:last-of-type {
    font-size: 26px;
  }
}

/*----改變標題區塊大小----------------------*/
@media (max-width: 890px) {
  #bannerTitle {
    margin-top: 8%;
    height: 325px;
  }
  #bannerTitle::before {
    width: 400px;
    top: 220px;
    left: 435px;
  }
  #bannerTitle img {
    width: 75%;
  }
  #bannerTitle::after {
    background-size: contain;
    width: 25%;
    left: 70%;
    position: absolute;
    margin-top: 42.5%;
  }
  .teacherName {
    margin-top: 27%;
    padding-right: 4%;
  }
}

/*header banner 平板(直)版型--換背景圖、改標題區塊設定方式==========*/
@media (max-width: 768px) {
  header {
    background-image: url(../images/banner_bgm.jpg);
    padding-bottom: 116%;
  }
  #bannerTitle {
    width: 85%;
    height: 0;
    padding: 5% 0 39%;
  }
  #bannerTitle::before {
    width: 70%;
    top: 91.8%;
    left: 31%;
  }
  #bannerTitle p {
    font-size: 22px;
    letter-spacing: 2px;
    width: 80%;
    margin-top: 0%;
  }
  #bannerTitle::after {
    width: 23%;
    margin-top: 45%;
    left: 72%;
  }
  .teacherName {
    margin-top: 50%;
    padding-right: 20%;
  }
}

/*-----改箭頭位置-------------------------*/
@media (max-width: 625px) {
  #bannerTitle::after {
    width: 22%;
    margin-top: 51%;
  }
}

/*header banner 手機版型====================*/
@media (max-width: 550px) {
  #bannerTitle {
    padding: 7% 0 42%;
  }
  #bannerTitle::before {
    top: 89%;
  }
  #bannerTitle p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.1em;
    width: 75%;
  }
  #bannerTitle img {
    width: 75%;
  }
  #bannerTitle::after {
    margin-top: 55%;
  }
  .teacherName {
    margin-top: 48%;
  }
  .teacherName > p:first-of-type {
    font-size: 15px;
    padding-right: 34px;
  }
  .teacherName > p:last-of-type {
    font-size: 22px;
  }
}

/*header banner 小手機版型====================*/
@media (max-width: 475px) {
  #bannerTitle {
    padding-bottom: 39%;
  }
  #bannerTitle p {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: normal;
    border-width: 1px;
  }
  #bannerTitle img {
    width: 72%;
  }
  #bannerTitle::after {
    margin-top: 57%;
  }
  .teacherName > p:first-of-type {
    font-size: 13px;
    padding-right: 24px;
  }
  .teacherName > p:last-of-type {
    font-size: 18px;
  }
}

/*-----富標題文字微調----------------*/
@media (max-width: 385px) {
  #bannerTitle p {
    font-size: 14px;
    width: 83%;
  }
  #bannerTitle::after {
    margin-top: 64%;
    width: 21%;
  }
}

/*header banner 版型 320以下====================*/
@media (max-width: 318px) {
  #bannerTitle {
    height: auto;
    padding: 10% 0 5%;
  }
  #bannerTitle img {
    width: 80%;
  }
  #bannerTitle::after {
    content: none;
  }
  .teacherName {
    margin-top: 35%;
  }
  .teacherName > p:first-of-type {
    font-size: 13px;
    padding-right: 9px;
  }
  .teacherName > p:last-of-type {
    font-size: 15px;
  }
}

.info {
  background-color: #ebf9f9;
}

.info .container > div {
  background-color: #fff;
  width: 39%;
  padding: 30px 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(42, 148, 175, 0.2);
          box-shadow: 0 0 20px rgba(42, 148, 175, 0.2);
}

.info .container > div h3 {
  background-color: #2a95af;
  font-weight: normal;
  letter-spacing: 0.15em;
}

.info .container > div p {
  padding: 3px 50px;
}

.info .container > div p:first-of-type {
  padding: 25px 50px;
}

.info img {
  vertical-align: middle;
  padding-bottom: 20px;
}

/*=====RWD=================================*/
@media (max-width: 1015px) {
  .info img {
    width: 80px;
  }
}

@media (max-width: 989px) {
  .info .container > div {
    margin: 3% 2.5%;
  }
}

/*變單欄排版--------------------------*/
@media (max-width: 815px) {
  /*	弧形造型弄扁一點-----------*/
  h1 {
    padding-top: 20px;
  }
  .info .container {
    text-align: center;
  }
  .info .container > div {
    width: 80%;
  }
  /* 白色圓角區塊*/
  .info img {
    /* 黃色箭頭*/
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    display: block;
    width: 80px;
    margin: 0 auto;
    padding: 0;
  }
}

.advantage {
  background-color: #ffe868;
  overflow: hidden;
}

.advantage .title {
  color: #333;
}

.advantage .title::before {
  background-color: #333;
}

.advantage .container > div {
  position: relative;
  width: 308px;
}

.advantage .container > div img:first-of-type {
  position: absolute;
  left: 20px;
  top: 45px;
  z-index: 2;
}

.advantage .container > div img:last-of-type {
  position: relative;
  top: 20px;
  z-index: 1;
}

.advantage .container > div .circle {
  background-color: #fffdcc;
  padding: 40px 29px;
  border-radius: 10px;
  height: 150px;
  width: 250px;
  position: relative;
  top: -50px;
}

.advantage .container > div .circle p {
  padding-top: 30px;
}

.advantage .container > div .hover_shadow {
  -webkit-box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.2);
}

.advantage .container > div:hover img:nth-child(3) {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

/*=====RWD=================================*/
@media (max-width: 1230px) {
  .advantage {
    min-height: 1320px;
  }
  .advantage .container > div {
    display: block;
    width: 80%;
    max-width: 700px;
    min-height: 400px;
    margin: auto;
  }
  .advantage .container > div img:first-of-type {
    position: relative;
    left: -60px;
    top: -35px;
  }
  .advantage .container > div img:last-of-type {
    left: -25px;
  }
  .advantage .container > div .circle {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: auto;
    min-height: 100px;
  }
}

@media (max-width: 480px) {
  .advantage .container > div {
    max-width: 500px;
  }
  .advantage .container > div img:first-of-type {
    left: -40px;
    top: -40px;
    width: 17%;
    max-width: 50px;
  }
  .advantage .container > div img:last-of-type {
    width: 45%;
    max-width: 122px;
  }
  .advantage .container > div .circle {
    padding: 40px 8%;
  }
}

.teacher {
  background-image: url(../images/bg_lightorange.jpg);
  /*&::after {
    content: "";
    display: table;
    clear: both;
  }*/
}

.teacher .container {
  overflow: auto;
  zoom: 1;
}

.teacher .container img {
  border-radius: 50%;
  margin: 60px 6% 0;
  width: 23%;
  float: left;
}

.teacher .container h3, .teacher .container ul, .teacher .container p {
  float: left;
  width: 65%;
  padding: 10px;
  padding-right: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.teacher .container ul {
  list-style: none;
  font-weight: bold;
}

/*=====RWD==========================*/
@media (max-width: 1015px) {
  .teacher .container img {
    width: 215px;
  }
  .teacher .container h3, .teacher .container ul, .teacher .container p {
    width: 60%;
    padding-right: 0;
  }
}

@media (max-width: 835px) {
  .teacher .container {
    padding-top: 50px;
  }
  .teacher .container img {
    width: 250px;
    float: none;
    display: block;
    margin: 0 auto 15px;
    /*		padding-top: 70px;*/
  }
  .teacher .container h3, .teacher .container ul, .teacher .container p {
    float: none;
    width: auto;
    width: 85%;
    margin: auto;
  }
}

.classIntro {
  background-image: url(../images/bg_lightyellow.jpg);
}

.classIntro .container .title {
  color: #2cbcc5;
}

.classIntro .container .title::before {
  background-color: #2cbcc5;
}

.classIntro .container > h4 {
  color: #333;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 15px;
}

.classIntro .container p {
  padding-left: 32px;
  padding-right: 32px;
}

.classPoints {
  background-image: url(../images/bg_grid.png);
  padding-top: 35px;
}

.classPoints .container div {
  background-color: rgba(255, 255, 255, 0.5);
  width: 40%;
  border-radius: 10px;
  margin: 3% 5%;
  -webkit-box-shadow: 0px 0px 10px #61616133;
          box-shadow: 0px 0px 10px #61616133;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
}

.classPoints .container div img {
  width: 100%;
}

.classPoints .container div ul {
  text-align: left;
  padding: 20px 10px 20px 60px;
}

.classPoints .container div:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

/*=====RWD==========================*/
@media (max-width: 835px) {
  .classPoints .container div {
    width: 80%;
    margin: 5% 10%;
  }
}

.students {
  background-color: #2a95af;
  min-height: 550px;
  overflow: hidden;
}

.students img {
  margin: 75px 5% 0 6%;
  float: left;
  width: 44%;
}

.students h3, .students ul {
  width: 45%;
  float: left;
}

.students h3 {
  margin-top: 70px;
}

.students ul {
  list-style: none;
}

.students ul li::before {
  content: url(../images/checked_icon.svg);
  position: relative;
  top: 6px;
  margin-right: 0.4em;
}

.students .container:last-child ul {
  padding-bottom: 90px;
}

.students .container:last-child ul li {
  font-weight: normal;
}

/*=====適合對象================================*/
@media (max-width: 875px) {
  .students .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .students img {
    float: none;
    width: 60%;
    display: block;
    margin: 0 auto 20px;
  }
  .students h3, .students ul {
    float: none;
    width: 380px;
    margin: 0 auto;
  }
  .students .container:last-child ul {
    padding-bottom: 10%;
  }
}

@media (max-width: 480px) {
  .students h3, .students ul {
    max-width: 300px;
    width: 90%;
  }
  .students h3 li, .students ul li {
    line-height: 1.5em;
  }
  .students h3 li p, .students ul li p {
    margin-top: 5px;
  }
}

#contact {
  background-image: url(../images/bg_grey.png);
  padding-top: 60px;
  /*表單項目-------------------------*/
}

#contact h3 {
  width: 400px;
  margin: 0 auto 60px;
  line-height: 2.6em;
  text-align: center;
  font-size: 26px;
  letter-spacing: 3px;
  color: #39616b;
  background-color: #fff45c;
  border-radius: 10px;
  -webkit-box-shadow: 0 11px #B7CFD1;
          box-shadow: 0 11px #B7CFD1;
}

#contact .container {
  overflow: auto;
  zoom: 1;
}

#contact img {
  width: 44%;
  float: left;
}

#contact form {
  float: left;
  width: 55%;
  margin: 10px auto;
  position: relative;
}

#contact #twzipcode input {
  display: none;
}

#contact input, #contact .area {
  width: 45%;
  height: 40px;
  font-size: 22px;
  border: 1px solid #2a95af;
  text-align: left;
  padding-left: 10px;
  margin: 13px 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact input::-webkit-input-placeholder {
  color: #2a95af;
}

#contact input:-ms-input-placeholder {
  color: #2a95af;
}

#contact input::-ms-input-placeholder {
  color: #2a95af;
}

#contact input::placeholder {
  color: #2a95af;
}

#contact .area {
  color: #2a95af;
}

#contact #contactEmail {
  width: 95%;
}

#contact #contactIAgree {
  width: 25px;
}

#contact label, #contact a {
  font-size: 22px;
  color: #333;
  line-height: 3em;
  position: relative;
  top: -15px;
}

#contact #submitBtn {
  width: 180px;
  height: 57px;
  background-color: #ff6633;
  border-radius: 10px;
  color: #FFF;
  letter-spacing: 3px;
  text-align: center;
  padding-left: 0;
  border: none;
  float: right;
  position: absolute;
  top: 250px;
  right: 20px;
}

/*=====RWD===========================*/
@media (max-width: 875px) {
  #contact h3 {
    font-size: 26px;
    width: 400px;
  }
  #contact img {
    float: none;
    width: 70%;
    width: 550px;
    display: block;
    margin: 0 auto 20px;
  }
  #contact form {
    width: 90%;
    float: none;
    margin-bottom: 50px;
  }
  #contact input, #contact .area {
    width: 45%;
    margin: 2%;
  }
  #contact #contactEmail {
    width: 95%;
  }
  #contact #submitBtn {
    top: 250px;
  }
}

@media (max-width: 650px) {
  #contact h3 {
    font-size: 26px;
    width: 85%;
    max-width: 450px;
  }
  #contact img {
    width: 75%;
  }
  #contact form {
    width: 90%;
  }
  #contact input, #contact #contactEmail, #contact .area {
    width: 95%;
  }
  #contact label, #contact a {
    font-size: 20px;
  }
  #contact #submitBtn {
    top: 360px;
  }
}

footer {
  background: #ff8920;
  padding: 20px 0 50px;
}

footer p {
  text-align: center;
  color: #FFF;
}
/*# sourceMappingURL=style.css.map */