.teacher {
  background-image: url(../images/bg_lightorange.jpg);
  .container {
    overflow: auto;
		zoom: 1;
		
		img {
			border-radius: 50%;
			margin: 60px 6% 0;
			width: 23%;
			float: left;
		}
		h3,ul,p {
			float: left;
			width: 65%;
			padding: 10px;
			padding-right: 32px;
			box-sizing: border-box;

		}

		ul {
			list-style: none;
			font-weight: bold;
		}
  }
  /*&::after {
    content: "";
    display: table;
    clear: both;
  }*/
}
/*=====RWD==========================*/
@media (max-width: 1015px){
	.teacher .container {
		// width: 70%;
	}
	.teacher .container img {
		width: 215px;
	}
	.teacher .container h3, .teacher .container ul, .teacher .container p {
		width: 60%;
		padding-right: 0;
	}
}
@media (max-width: 835px){
	.teacher .container {
		padding-top: 50px;
	}
	.teacher .container img {
		width: 250px;
		float: none;
		display: block;
		margin: 0 auto 15px;
/*		padding-top: 70px;*/
	}
	.teacher .container h3, .teacher .container ul, .teacher .container p {
		float: none;
		width: auto;
		width: 85%;
		margin: auto;
	}

}