// =====老師及課程介紹=======================
.content2 {
    background-color: map-get($colors, note);
    
    // 老師介紹的部分------------------------
	.container:first-child {
		img {
	        border-radius: 50%;
	        margin: 6%;
	        width: 23%;
	        float: left;
	    }
	    h3,ul,p {
	        float: left;
	        width: 65%;
	        padding: 10px;
	        box-sizing: border-box;

	    }
	    h3 {margin-top: 30px;
			font-size: 30px;
			line-height: 1.5em;
		}
	    ul {
	    	list-style: none;
	    	font-weight: bold;
	    }
	}
	// 課程介紹的部分------------------------
	.container:last-child {
		clear: both;
	    .title {
	        &::before {background-color: map-get($colors, primary);}
	        color: map-get($colors, primary);        
	    }
	    >h4 {
			color: #333;
			font-size: 24px;
	    	padding-left: 32px;
	        margin-bottom: 10px;
	    }
	    p {
	    	// font-size: 24px;
	    	padding-left: 32px;
	    }
	    div {
	        background-color: rgba(255,255,255,0.5);
	        width: 40%;
	        border-radius: 20px;
	        margin: 3% 5%;
	        img {   //VBA1.jpg~VBA4.jpg
	            width: 100%;
	        }
	        ul {
	        	// color: #FFF;
	        	text-align: left;
	        	padding: 20px 10px 20px 60px;
	        }
	    }
	}
}
/*=====RWD==========================*/
@media (max-width: 1015px){
	.content2 .container:first-child img {
		width: 215px;
	}
	.content2 .container:first-child h3, .content2 .container:first-child ul, .content2 .container:first-child p {
		max-width: 60%;		
	}
}
@media (max-width: 835px){
	.content2 .container:first-child {
		padding-top: 50px;
	}
	.content2 .container:first-child img {
		width: 250px;
		float: none;
		display: block;
		margin: 0 auto;
/*		padding-top: 70px;*/
	}
	.content2 .container:first-child h3, .content2 .container:first-child ul, .content2 .container:first-child p {
		float: none;
		width: auto;
		max-width: none;
	}
	.content2 .container:last-child div{
		width: 80%;
		margin: 3% 10%;
	}
}