// =====課程優點=============================
.advantage {
    background-color: map-get($colors, second);
    overflow: hidden;
    .title {
        &::before {background-color: #333;}
        color: #333;
    }
    // 各項優點的外框------------------------
    .container>div {
        position: relative;
        width: 308px;
        
  //箭頭------------------------------
        img:first-of-type {
            position: absolute;
            left: -5px;
            z-index: 2;
        }
        //圖示------------------------------
        img:last-of-type {
            position: relative;
            top: 20px;
            z-index: 1;
        }
        // 優點內容的淺黃橢圓區塊-----------------
        .circle {
            background-color: map-get($colors, second_light);
            padding: 40px 29px;
            border-radius: 10px;
            height: 150px;
            width: 250px;
            position: relative;
            top: -50px;
            p {
                padding-top: 25px;
            }
        }
<<<<<<< HEAD
        // .circle:hover {
        .hover_shadow {
=======
        .circle:hover {
>>>>>>> ce5ced33578118dbd4fb8893d71b455039437012
            -webkit-box-shadow:2px 5px 4px rgba(0,0,0,0.2);
            box-shadow:2px 5px 4px rgba(0,0,0,0.2);
        }
    }
    .container>div:hover {
        img:nth-child(3) {
            -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
        }
    }
}

/*=====RWD=================================*/
@media (max-width: 1230px) {
    .advantage {
        min-height: 1320px;
    }
    .advantage .container>div {
        display: block;
        // width: 410px;
        width: 80%;
        max-width: 700px;
        min-height: 400px;
        margin:  auto;
        }
    .advantage .container>div img:first-of-type  {
        position: relative;
        left: -50px;
    }
    .advantage .container>div img:last-of-type {
        left: -40px;
    }
    .advantage .container>div .circle  {
        // min-width: 93%;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        min-height: 100px;
            
    }
}
@media (max-width: 480px) {
    .advantage .container>div {
        // width: 95%;
        max-width: 500px;
        }
    .advantage .container>div img:first-of-type  {
        //  left: 0;
         width: 25%;
         max-width: 83px;
    }
    .advantage .container>div img:last-of-type  {
         width: 45%;
         max-width: 134px;
    }

    .advantage .container>div .circle  {
        // width: 83%;
        // min-height: 100px;
        padding: 40px 8%;
            }
}