// =====課程優點=============================
.content1 {
    background-color: map-get($colors, second);
    .title {
        &::before {background-color: #333;}
        color: #333;
    }
    // 各項優點的外框------------------------
    .container>div {
        position: relative;
        width: 308px;
        
		//箭頭------------------------------
        img:first-of-type {
            position: absolute;
            left: -5px;
            z-index: 2;
        }
        //圖示------------------------------
        img:last-of-type {
            position: relative;
            top: 20px;
            z-index: 1;
        }
        // 優點內容的淺黃橢圓區塊-----------------
        .circle {
            background-color: map-get($colors, second_light);
            padding: 40px 29px;
            border-radius: 10px;
            height: 190px;
            width: 250px;
            position: relative;
            top: -50px;
            p {
                padding-top: 25px;
            }
        }
    }
}

/*=====RWD=================================*/
@media (max-width: 1215px) {
	.content1 .container {
		text-align: justify;
	}
	// .content1 .container>div:nth-of-type(3) {
	// 	display: block;
	// 	margin: 0 auto 30px;
	// }
}
// @media (max-width: 1110px) {
// 	.content1 .container>div {margin: 3% 9%;}
// }
// @media (max-width: 1040px) {
// 	.content1 .container>div {margin: 3% 7%;}
// }
// @media (max-width: 930px) {
// 	.content1 .container>div {margin: 3% 5.5%;}
// }
// @media (max-width: 860px) {
// 	.content1 .container>div {margin: 3% 4.1%;	}
// }
@media (max-width: 800px){
	.content1 {
	min-height: 1320px;
}
	.content1 .container>div {
		display: block;
		width: 410px;
		height: 400px;
		margin: auto;
	}
	.content1 .del {
/*		float: left;*/
/*		text-align: left;*/
		text-indent: 10px;
		padding-top: 20px;
		width: 240px;
	}
	.content1 .container>div img:first-of-type  {
/*		float: left;*/
		transform: rotate(-50deg) scaleX(-1);
		left: 270px;
		top: -10px;
	}
	.content1 .container>div img:last-of-type  {
		position: absolute;
		float: left;
		top: 100px;
		left: 0;
		
	}
	.content1 .container>div .circle  {
		position: absolute;
		float: left;
		top: 100px;
		left: 100px;
		margin: 0;
		
	}
}