// =====適合對象=============================
.students {
    background-color: map-get($colors, dark);
		min-height: 550px;
		overflow: hidden;
	img {
		margin: 75px 5% 0 6%;
		float: left;
		width: 44%;
	}
	h3,ul {
		width: 45%;
		float: left;
	}
	h3 {
		margin-top: 70px;
	}
	ul {
		list-style: none;
		li::before {
			content: url(../images/checked_icon.svg);
			position: relative;
			top: 6px;
			margin-right: 0.4em;
		}
	}
	.container:last-child ul {
		padding-bottom: 90px;
		li {
			font-weight: normal;
		}
	}
}
/*=====適合對象================================*/
@media (max-width: 875px){
	.students .container {
		padding-top: 50px;
		padding-bottom: 50px;
		// max-width: 450px;
	}
	.students img {
		float: none;
		width: 60%;
		display: block;
		margin: 0 auto 20px;
	}
	.students h3, .students ul {
		float: none;
		width: 380px;
		margin: 0 auto;
	}
	.students .container:last-child ul {
		padding-bottom: 10%;
	}
}
@media (max-width: 480px){
	.students h3, .students ul {
		max-width: 300px;
		width: 90%;
		li {
			line-height: 1.5em;
			p {
				margin-top: 5px;
			}
		}
	}
}