// =====索取資訊表單==========================
#contact {
	background-image: url(../images/bg_grey.png);
	padding-top: 60px;

	h3 {
		width: 400px;
		margin: 0 auto 60px;
		line-height: 2.6em;
		text-align: center;
		font-size: 26px;
		letter-spacing: 3px;
		color: #39616b;
		background-color: #fff45c;
		border-radius: 10px;
		box-shadow: 0 11px #B7CFD1;
	}
	.container {
		overflow: auto;
    zoom: 1;
	}
	img {
		width: 44%;
		float: left;
		// margin: 0;
	}
	form {
		// display: inline-block;
		// width: 630px;
		float: left;
		width: 55%;
		margin: 10px auto;
		position: relative;
	}
	#twzipcode input {display: none;} //隱藏外掛的郵遞區號欄位
/*表單項目-------------------------*/
	input, .area {
		width: 45%;
    height: 40px;
    // line-height: 48px;
    font-size: 22px;
    border: 1px solid map-get($colors, dark);
    text-align: left;
    padding-left: 10px;
    margin: 13px 2%;
    box-sizing: border-box;
	}
	input::placeholder{color: map-get($colors, dark);}
	.area {
		color: map-get($colors, dark);
	}
	#contactEmail {
		width: 95%;
	}

	#contactIAgree {
		width: 25px;
		// text-align: left;
		// margin: 5px 14px;
		// float: left;

	}
	label, a {
		font-size: 22px;
		color: #333;
		line-height: 3em;
		position: relative;
		top: -15px;
		// float: left;
	}
	#submitBtn {
		// width: 147px;
		width: 180px;
		height: 57px;
		background-color: #ff6633;
		border-radius: 10px;
		color: #FFF;
		letter-spacing: 3px;
		text-align: center;
		padding-left: 0;
		// padding-left: 45px;
		// margin-top: 70px;
		border: none;
		float: right;
		position: absolute;
		top: 250px;
		right: 20px;
	}
}
/*=====RWD===========================*/
// 圖和表單上下排列
@media (max-width: 875px){
	#contact h3 {
		font-size: 26px;
		width: 400px;
	}
	#contact img {
		float: none;
		width: 70%;
		width: 550px;
		display: block;
		margin: 0 auto 20px;
	}
	#contact form {
		width: 90%;
		float: none;
		margin-bottom: 50px;
	}
	#contact input,#contact .area {
		width: 45%;
		margin: 2%;
	}
	#contact #contactEmail {
		width: 95%;
	}

	#contact #submitBtn {
		// float: none;
		// display: block;
		// margin: 15px auto;
		top: 250px;
	}
}
// 表單變成單攔排列
@media (max-width: 650px){
	#contact h3 {
		font-size: 26px;
		width: 85%;
		max-width: 450px;
	}
	#contact img {
		width: 75%;
	}
	#contact form {
		width: 90%;
	}
	#contact input, #contact #contactEmail, #contact .area {
		width: 95%;
	}
	#contact label,#contact a {
		font-size: 20px;
	}
	#contact #submitBtn {
		top: 360px;
	}
}