// ==測試用，之後刪除=========================
// @each $area,$height in $heights {
//     .#{$area} {
//         min-height: $height;
//     }
// }
// ==========================================


* {
    font-family: $font_family;
    margin: 0;
    padding: 0;
}

.container {
    max-width: $container_h;
    margin: 0 auto;
    padding: 0 3% 5%;
    // box-sizing: border-box;
}
.container>div {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        margin:3%;
}
// 弧形造型設定---------------------------
.info, .content1, .content2, .content3,{
	background-repeat: no-repeat;
    background-position: bottom -1px center;
    background-size: 100%;
}

// =====課程資訊=============================
.info {
    background-color: map-get($colors, light);
    background-image: url(../images/curve_info.svg);
    // padding: 30px 0;
	padding-bottom: 30px;

    // -----白色圓角區塊----------------------
    .container>div {
        background-color: #fff;
        width: 39%;
        padding: 30px 0;
        border-radius: 30px;
        // 深底黃字標題-----------------------
        h3 {
            background-color: map-get($colors, dark);
            font-weight: normal;
            letter-spacing: 0.15em;
        }
        // 課程名稱&資訊----------------------
        p {padding: 3px 50px;}
        p:first-of-type {padding: 25px 50px;}
    }
    // -----黃色箭頭---------------------------
    img {}
}
// =====課程資訊end==========================

// =====課程優點=============================
.content1 {
    background-color: map-get($colors, second);
    background-image: url(../images/curve_content1.svg);
    .title {
        &::before {background-color: #333;}
        color: #333;
    }
    // 各項優點的外框------------------------
    .container>div {
        position: relative;
		//箭頭------------------------------
        img:first-of-type {
            position: absolute;
            left: -5px;
            z-index: 1;
        }
        //圖示------------------------------
        img:last-of-type {
            position: relative;
            top: 20px;
            z-index: 1;
        }
        // 優點內容的淺黃橢圓區塊-----------------
        .circle {
            background-color: map-get($colors, second_light);
            padding: 40px 29px;
            border-radius: 150px;
            height: 190px;
            width: 250px;
            position: relative;
            top: -50px;
            p {
                padding-top: 25px;
            }
        }
    }
}
@media (max-width: 1230px) {
	// .content1 .container {padding: 1%;}
	// .content1 .container>div {
	// 	margin: 2.5%;
	// }
}
// =====課程優點end=========================

// =====老師及課程介紹=======================
.content2 {
    background-color: map-get($colors, note);
    background-image: url(../images/curve_content2.svg);
    // 老師介紹的部分------------------------
	.container:first-child {
		img {
	        border-radius: 50%;
	        margin: 6%;
	        width: 23%;
	        float: left;
	    }
	    h3,ul,p {
	        float: left;
	        width: 65%;
	        padding: 10px;
	        box-sizing: border-box;

	    }
	    h3 {margin-top: 30px;
			font-size: 30px;
			line-height: 1.5em;
		}
	    ul {
	    	list-style: none;
	    	font-weight: bold;
	    }
	}
    // 課程介紹的部分------------------------
	.container:last-child {
		clear: both;
	    .title {
	        &::before {background-color: map-get($colors, primary);}
	        color: map-get($colors, primary);        
	    }
	    >h4 {
	        color: #333;
	    	padding-left: 32px;
	        margin-bottom: 10px;
	    }
	    p {
	    	font-size: 24px;
	    	padding-left: 32px;
	    }
	    div {
	        background-color: map-get($colors, primary);
	        width: 40%;
	        border-radius: 20px;
	        margin: 3% 5%;
	        img {   //VBA1.jpg~VBA4.jpg
	            width: 100%;
	        }
	        ul {
	        	color: #FFF;
	        	text-align: left;
	        	padding: 20px 10px 20px 60px;
	        }
	    }
	}
}

// =====老師及課程介紹end====================

// =====適合對象=============================
.content3 {
    background-color: map-get($colors, dark);
    background-image: url(../images/curve_content3.svg);
    min-height: map-get($heights, content3);
	img {
		margin: 150px 10% 0 6%;
		float: left;
		width: 39%;
	}
	h3,ul {
		width: 45%;
		float: left;
	}
	h3 {
		margin-top: 70px;
	}
	ul {
		// list-style-image: url(../images/checked_icon.svg);
		// list-style-position: inside;
		list-style: none;
		li::before {
			content: url(../images/checked_icon.svg);
			position: relative;
	        top: 6px;
	        margin-right: 0.4em;
		}
		li {
			font-size: 30px;
			font-weight: bold;
			color: #FFF;
			margin-top: 25px;
			p {
				color: #FFF;
				font-weight: normal;
				margin-top: 15px;
			}
		}

	}
}
// =====適合對象end==========================

// =====索取資訊表單==========================
.contact {
    background-color: #fff;
    h3 {
		font-size: 60px;
		width: 800px;
		margin: 60px auto;
		line-height: 2em;
		text-align: center;
		background-color: #fff45c;
		border-radius: 10px;
		box-shadow: 0 11px #B7CFD1;


    }
    form {
		width: 700px;
		margin: 10px auto 200px;
    }
    #twzipcode input {display: none;}
    input, .area {
	width: 320px;
    height: 48px;
    // line-height: 48px;
    font-size: 24px;
    border: 1px solid map-get($colors, dark);
    text-align: left;
    padding-left: 10px;
    margin: 14px;
    box-sizing: border-box;
	}
	input::placeholder{color: map-get($colors, dark);}
	.area {
		color: map-get($colors, dark);
	}
	#contactEmail {
		width: 668px;
	}

	#contactIAgree {
		width: 25px;
		// text-align: left;
		// margin: 5px 14px;
		float: left;
	}
	label, a {
		font-size: 24px;
		color: #333;
		line-height: 3em;
		float: left;
	}
	#submitBtn {
		width: 147px;
		height: 57px;
		background-color: #ff6633;
		border-radius: 10px;
		color: #FFF;
		letter-spacing: 10px;
		padding-left: 45px;
		margin-top: 70px;
		border: none;
		float: right;

	}
}
// =====索取資訊表單end======================