// 各個部分的對應弧形圖檔
$areas: info, advantage, content2, content3;
@each $area in $areas {
    .#{$area} {background-image: url(../images/curve_#{$area}.svg);}
}
// 弧形造型設定---------------------------
.info, .advantage, .teacher, .classIntro, .classPoints, .content3,{
	background-repeat: no-repeat;
    background-position: bottom -1px center;
    background-size: 100%;
}

// header和.info間的弧形-----------------
header::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -1px;
    display: block;
    background-image: url(../images/curve_header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

// 視窗縮小 弧形造型弄扁一點-----------
@media (max-width: 815px) {
	header::after, .info, .advantage, .teacher, .classIntro, .classPoints, .content3 {background-size: 100% 30px;}
	.info .container>div {margin: 3% 10%;}
}