header {
    height: map-get($heights, header);
    width: 100%;
    margin: auto;
    // background-image: url(../images/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: map-get($colors, primary);
}
@media (min-width: 768px) { 
    header {background-image: url(../images/banner.jpg);}
}
@media (min-width: 1300px) { 
    header {background-position: center top; background-size: auto;}
}
header h1 {
    text-indent: -9999px;
}
