
%content {
    max-width: 1140px;
}

* {
    font-family: $font_family;
    margin: 0;
    padding: 0;
}

nav {
    height: map-get($heights, nav);
}


.info {
    height: map-get($heights, info);
    background-color: map-get($colors, light);
}
// .content1::before {
//     content: url(../source/hesder曲線test2.svg);
//     display: block;
//     width: 100%;
// }
header, .info, .content1, .content3 {
    position: relative;
}
.curve {
    position: absolute;
    bottom: -1px;
    width: 100%;
}
.content1 {
    height: map-get($heights, content1);
    background-color: map-get($colors, second);
}
.content2 {
    height: map-get($heights, content2);
    background-color: map-get($colors, white);
}
.content3 {
    height: map-get($heights, content3);
    background-color: map-get($colors, dark);
}
form {
    height: map-get($heights, form);
}