.title_yellow {
	color: #feff00;
	font-size: 48px;
	font-weight: bold;
}
.point {
  font-size: 30px;
  font-weight: bold;
}

.del {

}

.text_b30 {
	font-size: 30px;
	color: #087b97;
	font-weight: bold;
	line-height: 1.8em;
}