$font_family: "Microsoft JhengHei UI", 微軟正黑體, sans-serif;
$container_h: 1140px;
$colors: (
	primary: #2cbcc5,
	light: #ebf9f9,
	dark: #2a95af,
	second: #ffe868,
	second_light: #fffdcc,
	note: #eaeaea
	);

/*	text: #333,
	text_light: #484f59,
	text_dark: #161518,
	title: #087b97,
	// title_del: #75b9c6,
	highlight: #feff00,
	text_white: #FFF,
	// sub-white: #96dce9
);*/

$heights: (
	nav: 50px,
	header: 750px,
	info: 510px,
	content1: 650px,
	content2: 1800px,
	content3: 650px,
	form: 300px
);