$font_family: Helvetica, Arial, "Microsoft JhengHei UI", 微軟正黑體, sans-serif;
// $colors: (
// 	primary: #2cbcc5,
// 	second: #ffcb25,
// 	light: #96dce9,
// 	dark: #087b97
// );
$colors: (
	primary: #00b8a9,
	second: #ffcb25,
	light: #a9e8e3,
	dark: #0b7f74,
	white: #eaeaea
);
$font_colors: (
	text: #222,
	text_light: #3d3d3d,
	text_dark: #000,
	title: #03595f,
	title_del: #75b9c6,
	highlight: #feff00,
	white: #FFF,
	sub-white: #96dce9
);
$heights: (
	nav: 62px,
	header: 740px,
	info: 550px,
	content1: 550px,
	content2: 1750px,
	content3: 690px,
	form: 800px
);